.login{
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
}

.login__image{
    width: 830px;
    height :350px;
    /* Problem here it is not responsive */
}

.login__button{
    text-decoration: none;
    color: white;
    background-color: #1ed760;
    padding: 20px;
    border-radius: 500px;
    font-weight: 800;
    border: 2px solid black;
}